body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #032d09, #b2f7ef);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background: rgb(200, 219, 174);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="date"] {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #045e4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #426a61;
  }
  
  #result {
    font-size: 18px;
    margin-top: 15px;
  }